@mixin flexContent {
  display: flex;
  justify-content: space-between;
}

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin buttons($background-color, $border-color) {
  width: 150px;
  height: 37px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: $serif-display;
  font-weight: weight(bold);
  background-color: $background-color;
  border: 1px solid $border-color;
}
