@mixin flexContent {
  display: flex;
  justify-content: space-between;
}

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin buttons($background-color, $border-color) {
  width: 150px;
  height: 37px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: $serif-display;
  font-weight: weight(bold);
  background-color: $background-color;
  border: 1px solid $border-color;
}

%pseudos {
  content: '';
  position: absolute;
}
@mixin before($el) {
  &:#{el} {
    @extend %pseudos;
    background-repeat: no-repeat;
    background-position: right;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    @content;
  }
}

@function setTextColor($background) {
  @if lightness($background) > 50 {
    @return $neutral-dark-violet;
  } @else {
    @return #fff;
  }
}
