@media screen and (max-width: 992px) {
  .section1 {
    flex-direction: column-reverse;
    height: auto !important;
    text-align: center !important;
    margin-top: 0 !important;

    &::after {
      background-image: none !important;
      content: '';
    }
  }
  .column1 {
    margin: 170px 0 0 10px !important;
    height: 400px !important;

    hr {
      display: none !important;
    }

    h1 {
      margin: 0 auto !important;
      font-size: 3.5rem !important;
      line-height: 3rem !important;
    }

    p {
      max-width: 70ch !important;
      margin: 0 auto !important;
    }
  }
  .column2 {
    position: unset !important;
    width: 100%;
    margin: 0 !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media all and (min-width: 370px) and (max-width: 400px) {
  .section1 {
    position: relative;
    z-index: 0;

    &::after {
      background-image: url('/images/bg-pattern-intro-left-mobile.svg') !important;
      background-repeat: no-repeat;
      background-position: 0% 58% !important;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 1;
    }
  }

  .column1 {
    position: relative;
    z-index: 1;
    margin-top: 90px !important;

    h1 {
      font-size: 2.7rem !important;
    }
  }
}
